@font-face {
    font-family: myFont;
    src: url(../fonts/Frutiger-Light.otf);
}

*{
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
/*    overflow-x: hidden;*/ 
}

#frntPage{
    background: url("../images/imgInloggen.jpg") no-repeat center fixed; 
    font-family: myFont;
    background-size: cover;
    height: 100%;
}

#frntBody{
    background: none;
    display: flex;
    justify-content: center;
}

#title{
    margin-top: 9em;
    position: relative;
    color: #000;
    background-color: transparent;
}

input[type="radio"] {
    position: fixed;
    left: -100px;
}

input:not([type="radio"]) {
    appearance: none;
    display: block;
    transition: 300ms ease;
    border-radius: 7px;
    border: 0;
    max-height: 0;
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
    width: 250px;
    opacity: 0;
    font-size: 16px;
    text-align: center;
    outline: 0;
}
 
[id="signIn"]:checked ~ input.signIn,
[id="signUp"]:checked ~ input.signUp,
[id="reset"]:checked ~ input.reset {
    max-height: 3em;
    padding: 10px;
    max-width: 30em;
    margin: 10px 0;
    opacity: 1;
}

[id="signIn"]:checked ~ button:after { content: 'Sign In'; }
[id="signUp"]:checked ~ button:after { content: 'Sign Up'; }
[id="reset"]:checked ~ button:after { content: 'Reset password'; }

label:hover{ 
    color: rgb(229, 181, 34);
    }
    label:after {
        content: '';
        border: 10px solid transparent;
        position: absolute;
        bottom: -10px;
        left: calc(50% - 10px);
        transition: inherit; 
}

[id="signIn"]:checked ~ [for="signIn"],
[id="signUp"]:checked ~ [for="signUp"],
[id="reset"]:checked ~ [for="reset"] {
    color: rgb(255, 255, 255);;
}

form {
/*    margin-top: 15em;*/
    padding-top: 1em;
    width: 30em;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    border: none;
    background: rgba(0, 48, 130, 0.8);
}

fieldset{    
    margin-right: auto;
    margin-left: auto;
    border-style: none;
}
label {
    font-size: 1.6em;
    margin-left: 1em;
    position: relative;
}
input {
    font-size: 1.61803398875em;
    padding: 0.3em;
    display: block;
    position: relative;
    margin: 0.3em 1em 1em 1em;
}
button {
    text-align: center;
    margin-bottom: 1em;
    background-color: rgb(229, 181, 34); 
    border: none;
    padding: 10px;
    font-size: 18px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}
button:before{
    content:'';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
    background-color: rgba(229, 181, 34, 0.3);
    filter: brightness(50%); 
    height: 5px;
    transition: all 0.5s ease;
}
button:hover:before{
    height: 100%;
}
/*
============================================
                    ALGEMEEN
============================================*/

body {
    background-color: rgb(230, 230, 233);
    font-family: myFont;
    margin: 0px;
}

header {
    background: url("../images/header_image.jpg") no-repeat center fixed;
    background-size: cover;
/*    display: flex;*/
/*    justify-content: center;*/
}

h1, h2, h3{
    display: block;
    font-family: myFont;
    position: absolute;
    margin-top: -10px;
    font-size: 2.375rem;
    color: #fff;
    width: 15em;
    padding: 0.5em 0em 0.5em 0.5em;
}

h1 {
     background: rgba(0, 48, 130, 0.8);  

}

h3 {
    font-size: 1.875rem;
}

h2, h3 {
     background: rgba(0, 48, 130, 1);  
}

p {
    font-size: 1em;
}
a {
    font-family: myFont;
}

section>div{
    margin-top: 5em;
    position: relative;
    background-color: rgb(255, 255, 255); 
    border: 0.01px solid;
    box-shadow: 0px 1px 2px #888888;
    padding: 10px;
    margin-left: 1em;
    float: left;
    height: 25em;

}

section{
   /* background-color: rgb(255, 255, 255); */
    white-space:nowrap;
    padding-top: 5em;
    margin: 1em;
    padding: 10px;
    display: flex;

    flex-direction: row;
    overflow-x: scroll;
}

section > div > img {
    width: 12.5em;
    height: 18.75em;
}
section>button{
    position: absolute;
    margin-left: 23em;
    margin-top: 0.15em;
}

.icon{
    display: block;
    float: left;
    margin-top: 1em;
    margin-left: 3em;
    position: relative;
    width: 24px;
    height: 24px;
}

.vvdd_icon{
    display: block;
    float: left;
    margin-top: 1em;
    margin-left: 9em;
    position: relative;
    width: 24px;
    height: 24px;
}
/*
============================================
                    MENU
============================================*/

li a{
    margin-left: 3em;
}

ul>li>a>img{
    position: absolute;
    margin-top: -0.3em;
    margin-left: -2.2em;
    width: 1.5em;
    height: 1.5em;
}


#logo{
    position: absolute;
    margin-top: -0.3em;    
/*    margin-top: 500px;*/
    width: 3em;
    height: 1.5em;
    margin-left: -4em;
}
nav, ul {
    z-index: +1;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #fff;
    width: 100%
}

nav {
    margin-left: 0px

}
/*font + menu items are on one horizontal line */
 li {
     float: left;

}

 li a {
     display: block;
     color: #000000;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}


 li a{
     display: block;
     text-align: center;
     padding: 14px 16px;
}

.menuItemsLeft{
    float: right;
}
/*
============================================
                VERHAAL VAN DE DAG
============================================*/
#vvdd{
    padding: 1em 5em;
    height: 28em;
    display: block;
}

#vvdd_section{
    left: 50%;
    transform: translate(-50%);
    height: 38em;
    width: 8em
    border: 0.01px solid;
    box-shadow: 0px 1px 2px #888888;
}

#vvdd_txt{
    background-color: transparent;
}

header {
    height: 42em;
}


/*
============================================
                RESPONSIVE DESIGN
============================================*/
 @media only screen and (max-width: 67.5em) and (min-width: 31.3125em){
     nav li, .menuItemsLeft {
        float: none;
    }
}

@media only screen and (max-width: 31.25em){
    main {
   position: relative;
}
 
form {
    top: 50%;
    width: 25em;
}
ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     position: fixed;
     bottom: 0;
     width: 100%;
     background-color: #fff;
}
#vvdd, #vvdd_section{
    width: 99%;
}
li a{
    margin-left: -9999px
}

#logo{
    position: absolute;
    margin-top: -0.3em;    
    width: 3em;
    height: 1.5em;
    margin-left: 9990px;
}

li:nth-of-type(3) img{
    left: 10em;
}

li:nth-of-type(4) img{
    left: 15em;
}

li:nth-of-type(5) img{
    left: 20em;
}

li:nth-of-type(6) img{
    left: 25em;
}

li:nth-of-type(2){
    display: none;
}


 li a{
    float: left;
    display: block;
    text-align: left;
    text-decoration: none;
    font-size: 1em;
 }
 .menuItemsLeft {
    float: left;
 }
 header {
    background: url("../images/header_image.jpg");
    background-size: cover;
    width: 500px;
    margin-right: 0em;
}

section {
    width: 500px;
}

section>button{
    position: absolute;
    margin-left: 18em;
    margin-top: -0.1em;
}

 h1, h2 {
    display: block;
    font-family: myFont;
    position: absolute;
    margin-top: -10px;
    font-size: 2.375rem;
    color: #fff;
    width: 480px;
    padding: 0.5em 0em 0.5em 0.5em;
}

}